input[type=checkbox]:checked + input + label > .switch-active {
    display: block;
}

input[type=checkbox]:checked + label > .switch-inactive {
    display: none; }

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'],
textarea {
    height: 2rem;
    padding: 0.3rem;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}


select {
    height: 2rem;
    padding: 0.3rem;
}

label {
    cursor: pointer
}

.ui-widget {
    font-size: 0.8em;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.field-validation-error {
    font-size: 0.8rem;
    color: #f00;
    position: relative;
    top: -1rem;
}