<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="PGRLF.AzureStorageProvider.Properties.Settings.m000PGRLFStorageAccountConnectionString"
      connectionString="DefaultEndpointsProtocol=https;AccountName=m000pgrlf;AccountKey=I2XWOOlGhoutO34mIFaAr9yX4dMLeoBn8WSw9nD5K+b41iJy2ucCthDagU/uWQC6JiUDzT2ZGn8tJ9qXYdqQ+g==" />
  </connectionStrings>
  <appSettings>
    <add key="StorageConnectionString" value="" />
  </appSettings>
</configuration>