<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pgrlf.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>pgrlf.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>pgrlf</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$pgrlf</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="PGRLF.AzureStorageProvider.Properties.Settings.m000PGRLFStorageAccountConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=pgrlfwebforms;AccountKey=eL67/Sw5q40iCkg1wZsY2EKTetJTyUhmvz5x6zzQ44A/eD3FIpAxsAv1IDSMi9SK//ddbrlRjDFomOK/Itq3OA==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PGRLF.AzureStorageProvider.Properties.Settings.m000PGRLFStorageAccountConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=pgrlfwebforms;AccountKey=eL67/Sw5q40iCkg1wZsY2EKTetJTyUhmvz5x6zzQ44A/eD3FIpAxsAv1IDSMi9SK//ddbrlRjDFomOK/Itq3OA==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PGRLF.AzureStorageProvider.Properties.Settings.m000PGRLFStorageAccountConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>